.experience {
  margin: 30px 0;
  &__scroll {
    padding-bottom: 15px;
    border-bottom: 4px solid rgba(255, 255, 255, 0.3);
    &__scroll-menu {
      background: transparent;
      overflow: auto;
      white-space: nowrap;
      padding-bottom: 15px;
      a {
        display: inline-block;
        color: #B3B3BA;
        text-align: center;
        font: 700 30px/1.23 'Montserrat', sans-serif;
        margin-right: 30px;
      }
      &__current-item {
        background: var(--text-red-reversed-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  &__info {
    margin-top: 30px;
    &__h {
      font: 700 20px/1.2 'Montserrat', sans-serif;
      margin: 0 0 30px;
    }
    &__desc {
      font: 400 19px/1.578 'Montserrat', sans-serif;
    }
  }
}