@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.woff2");
  font-weight: 700;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: var(--link-regular-color);
  &:hover {
    color: var(--link-hover-color);
  }
  &:active {
    color: var(--link-active-color);
  }
}
.center {
  padding-left: calc(50vw - 157px);
  padding-right: calc(50vw - 157px);
}
main {
  .background {
    color: #fff;
    display:block;
    position: relative;
    background: var(--background-gradient);
    border-radius: 0 0 12px 12px;
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      border-radius: 0 0 12px 12px;
      width: 100%;
      z-index: -1;
      height: 10px;
      transform: translateX(-50%);
      left: 50%;
    }
    &:before {
      bottom: -10px;
      background-color: #CACADB;
      width: calc(100% - 20px);
    }
    &:after {
      bottom: -20px;
      background-color: #E7E7F2;
      width: calc(100% - 40px);
    }
  }
}
img {
  display: block;
  max-width: 100%;
}
.logo  {
  box-sizing: border-box;
  &:hover {
    svg > path {
      fill: var(--accent-pink-color);
    }
  }
}

.link-with-arrow {
  font: 700 14px/1.2 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  svg {
    margin: 0 5px;
  }
  &:hover {
    color: var(--accent-pink-color);
    svg > path {
      stroke: var(--accent-pink-color);
    }
  }
}
.header-red-gradient {
  margin: 10px 0 30px 0;
  font: 700 30px/1.23 'Montserrat', sans-serif;
  background: var(--text-red-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}