.header {
  color: #fff;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 1fr;
  &__top-section {
    padding: 10px calc(50vw - 187px);
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-blend-mode: overlay;
    background: rgba(255, 255, 255, 0.2);
    .language-switch {
      display: flex;
      align-items: center;
      .button_lang {
        cursor: pointer;
        text-align: center;
        padding: 5px 7px;
        margin: 0;
        border-radius: 8px;
        font: 700 12px/1.25 'Montserrat', sans-serif;
        letter-spacing: 1px;
        &:active {
          background: rgba(255, 255, 255, 0.2);
        }
      }
      .current_lang {
        color: #fff;
        background: var(--accent-pink-color);
      }
    }
    .contact_phone {
      font: 700 16px/1.25 'Montserrat', sans-serif;
      color: #fff;
      text-decoration: none;
      display: flex;
      align-items: center;
    }
    .map-link {
      display: none;
      margin: 0;
      color: #B3B3BA;
      font: 16px/1.25 "Montserrat",sans-serif;
    }
    .facebook-logo {
      display: none;
      height: 24px;
    }
  }
  &__logo {
    padding: 13px calc(50vw - 187px);
    .logo {
      max-width: 70px;
      display: flex;
      flex-direction: row;
      align-items: center;
      &::after {
        content: "services";
        font: 20px/1.2 'Montserrat', sans-serif;
        color: white;
        padding: 0 20px;
      }
    }
  }
  &__services{
    padding: 13px calc(50vw - 187px);
    &__nav {
      display: flex;
      justify-content: end;
      &__list {
        flex-direction: column;
        position: fixed;
        margin: 0;
        background-color: #fff;
        bottom: 0;
        width: calc(100% - 8px);
        transform: translateX(-50%);
        left: 50%;
        display: none;
        padding: 64px 12px 12px;
        box-sizing: border-box;
        border-radius: 12px 12px 0 0;
        list-style: none;
        gap: 15px;
        li {
          width: 100%;
          background-color: var(--background-grey-light);
          text-align: center;
          font-weight: 700;
          border-radius: 12px;
          padding: 7px 0;

          &:active {
            background-color: #E6E6F0;
          }
          .current-page-link {
            color: var(--accent-pink-color);
          }
        }
      }
      &__toggler {
        width: 32px;
        height: 32px;
        border-radius: 8px;
        display: block;
        position: relative;
        z-index: 3;
        span {
          width: 18px;
          height: 2px;
          background: #ffffff;
          display: block;
          position: absolute;
          left: 50%;
          top: 0;
          transform: translateX(-50%);
          &:nth-child(1) {
            transform: translate(-50%, 10px);
          }
          &:nth-child(2) {
            top: 50%;
          }
          &:nth-child(3) {
            top: 100%;
            transform: translate(-50%, -10px);
          }
        }
        &:hover {
          background: var(--hover-light-text-color);
        }
      }
      #nav-toggler:checked ~ &__list {
        display: flex;
      }
      #nav-toggler:checked ~ &__toggler {
        span {
          top: 50%;
          left: 50%;
          width: 18px;
          background: #EC6F5D;
          transform: translate(-50%,-50%) rotate(225deg);
          &:nth-child(2) {
            transform: translate(-50%,-50%) rotate(-225deg);
          }
        }
      }
    }
  }
}
.header-light {
  color: var(--text-grey);
  .contact_phone {
    color: var(--text-grey);
  }
  .header__logo{
    display: flex;
    align-items: self-start;
    flex-direction: row;
    .logo {
    }
    p {
      margin: 0;
      color: var(--main-darck-color);
      display: flex;
      align-items: center;
      &:before {
        content: url("../img/slash.svg");
        display: block;
        height: 26px;
        padding: 0 4px 0;
      }
    }
  }
  .header__services__nav {
    a {
      color: var(--link-regular-color);
    }
    .header__services__nav__toggler {
      span {
        background: var(--main-darck-color);
      }
    }
  }
}