@media screen and (min-width: 650px){
  .center, .header{
    padding-left: calc(50vw - 325px);
    padding-right: calc(50vw - 325px);
  }
  .header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 30px;
    &__top-section {
      justify-content: left;
      align-items: center;
      background-color: transparent;
      padding: 50px 0 0;
    }
    .language-switch::after, .contact_phone::before, .contact_phone::after{
      content: "";
      display: inline-block;
      width: 6px;
      height: 6px;
      background: white;
      margin: auto 6px;
      border-radius: 100px;
    }
    .map-link {
      display: block;
    }
    .facebook-logo {
      display: block;
    }
    &__logo {
      padding: 0;
      .logo {
        display: block;
        max-width: 100%;
        &::after {
          content: none;
        }
      }
    }
    &__services {
      flex-direction: column;
      margin: 0;
      padding: 0;
      &__nav {
        flex-direction: column;
        gap: 30px;
        .p-services {
          display: none;
        }
        &__toggler {
          display: none;
        }
        &__list {
          position: relative;
          background-color: transparent;
          flex-direction: row;
          width: 100%;
          bottom: auto;
          height: fit-content;
          display: flex;
          padding: 0;
          gap: 15px;
          li {
            width: auto;
            background-color: transparent;
            padding: 0;
            a {
              font: 700 16px/1.25 'Montserrat', sans-serif;
              color: #fff;
            }
            &:active {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
  .offer {
    padding-top: 490px;
    gap: 417px;
  }
  .experience {
    &__scroll {
      padding-bottom: 45px;
    }
    &__info {
      margin-top: 60px;
      &__h {
        font-size: 30px;
      }
    }
  }
  .services {
    &__cards {
      grid-template-columns: 1fr 1fr;
    }
  }
  .clients {
    &__block {
      grid-template-columns: 1fr 1fr 1fr;
      & > :nth-child(n+6):nth-last-child(-n+6) {
        display: flex;
      }
    }
  }
  .publications {
    .publications-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      :nth-child(3) {
        grid-column: 1/-1;
      }
    }
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
    section {
      flex-direction: row;
      justify-content: left;
    }
    .map {
      order: -1;
      gap: 0;
      .map-desc {
        display: flex;
        align-items: center;
      }
    }
    .contacts {
      grid-column: 1/-1;
      gap: 0;
      .phone-link {
        display: flex;
        align-items: center;
      }
    }
    .llc {
      order: -1;
      text-align: end;
      p {margin: 0}
    }
    .map-desc::after, .phone-link::before, .phone-link::after {
      content: "";
      display: inline-block;
      width: 6px;
      height: 6px;
      background: #B3B3BA;
      margin: auto 10px;
      border-radius: 100px;
    }
  }
}
@media screen and (min-width: 904px){
  .center, .header{
    padding-left: calc(50vw - 452px);
    padding-right: calc(50vw - 452px);
  }
  .header {
    grid-template-columns: 140px 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    padding-top: 50px;
    &__top-section {
      padding: 0;
      margin: 0 0 0 auto;
      grid-column: unset;
      grid-area: 1 / 2 / 2 / 3;
    }
    &__logo {
      grid-area: 1 / 1 / 3 / 2;
    }
    &__services {
      margin: 0 0 0 auto;
      grid-area: 2 / 2 / 3 / 3;
    }
  }
  .offer {
    background-size: contain;
    padding-top: 360px;
    gap: 290px;
  }
  .experience {
    display: grid;
    grid-template-columns: 375px 1fr;
    &__scroll {
      border-right: 4px solid rgba(255, 255, 255, 0.3);
      border-bottom: none;
      padding: 0;
      &__scroll-menu {
        padding: 15px 60px 15px 0;
        white-space: unset;
        text-align: end;
        a {
          margin: 0 0 30px auto;
        }
      }
    }
    &__info {
      margin: 10px 0 10px 60px;
      &__desc {
        margin: 0;
      }
    }
  }
  .services {
    &__cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  .team {
    &__member-card {
      display: grid;
      grid-template-columns: 400px 1fr;
    }
  }
  .clients {
    &__block {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  .publications {
    .publications-grid {
      grid-template-columns: 1fr 1fr 1fr;
      :nth-child(3) {
        grid-column: unset;
      }
    }
  }
}
